/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.w-90 {
    width: 90%;
    margin: 0 auto;
}

/* Classi per il posizionamento */
.float-left {
    float: left;
   
}

.float-right {
    float: right;
   
}

/* ** Usare l'after su clearfix per fissare */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ** Da usare sempre con line-height e sull'elemento */
.vertical-align-middle {
    vertical-align: middle;
}

/* Bottoni */
.btn-little {
    padding: 0 20px;
}


/* Classi colore */

.bg-blue {
    color: white;
    background-color: blue;
}

.row {

    display: inline-block;

}


/* Fine Generali */

/* Header */

header {
    width: 100%;
    height: 80px;
    margin-top: 10px;

}

header nav ul li {
    display: inline;
    list-style: none;
}


header nav ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

header .wrap {
    line-height: 80px;

}

a.bg-blue {
    font-size: 15px;
}

/* /Header */

/* Inizio Jumbrotron */

.jumbotron {
    background-color: rgba(107, 185, 240, 1);
    position: relative;
    /* *! Serve a dare lo sfondo bianco al bottom dell'immagine nella colonna di  destra  */
    /* *! Sostituire con un'immagine monocromatica e usare background-resize o trovare una soluzione     migliore  */
    height: 410px;
}

.jumbotron img {

    width:100%;
}

/* Titolo jumbotron */
.jumbotron h1 {
    font-size: 4em;
}
/* /Fine Titolo jumbotron */

/* Colonne Jumbotron */
.col-float-left{
    float:left;
    width: 48%;
}
/* (Fine Colonne Jumbotron */

.col-float-right{
    float:right;
    width: 48%;
}


.col-float-right img{
    bottom: -20px;
}

/* Span descrizione jumbtron */
.row-float-left span{
    font-weight:bolder;
}
/*/Fine Span descrizione jumbtron */


/* Fine Jumbotron */


/* Debug */

.debug header {
    background-color: blue;
}
