/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.w-90 {
    width: 90%;
    margin: 0 auto;
}

.w-48{
    width: 48%;
}

/* Classi per il posizionamento */
.float-left {
    float: left;

}

.float-right {
    float: right;

}

/* ** Usare l'after su clearfix per fissare */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* ** Da usare sempre con line-height e sull'elemento */
.vertical-align-middle {
    vertical-align: middle;
}

/* Bottoni */
/* Reset bottoni e formattazzione testo */
button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
/* Classi colore */

.bg-blue {
    background-color: blue;

}

/* /Fine Classi colore */

.row {
    display: inline-block;

}

/* Fine Generali */

/* Header */

header {
    width: 100%;
    height: 80px;
    margin-top: 10px;

}

/* Posizionamento logo */
.logo > img:nth-child(1) {
    margin-right: 50px;
}

header nav ul li {
    display: inline;
    list-style: none;
}


header nav ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

header .wrap {
    line-height: 80px;

}

/* Bottone accedi */
#btn-header {
    font-size:14px;
    margin-left: 50px;
    padding: 5px 10px;

}

/* / Bottone accedi */
/* /Header */

/* Inizio Jumbrotron */

.jumbotron {
    background-color: rgba(107, 185, 240, 1);
    position: relative;
    /* *! Serve a dare lo sfondo bianco al bottom dell'immagine nella colonna di  destra  */
    /* *! Sostituire con un'immagine monocromatica e usare background-resize o trovare una soluzione     migliore  */
    height: 450px;
}

.jumbotron img {
    width: 100%;
}

/* Titolo jumbotron */
.jumbotron h1 {
    font-size: 4em;
    padding-top: 2%;
}

/* /Fine Titolo jumbotron */

/* Span descrizione jumbtron */
.row-float-left span {
    font-weight: bolder;
    padding-top: 2%;
}

/*/Fine Span descrizione jumbtron */

/* Pulsante prova gratuita */

button.bg-blue:nth-child(2){
    margin-top: 2em;
    margin-left: 1em;
}


/* Testo jumbotron */
#condizioni,
.fas {
    margin-top: 1em;
    margin-left: 1em;
}


/* Fine Jumbotron */


/* Debug */

.debug header {
    background-color: blue;
}

.btn-little {
    padding: 0 20px;
}

/* /Fine Debug */