/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.w-90 {
    width: 90%;
    margin: 0 auto;
}

.w-48 {
    width: 48%;
}

.w-100 {
    width: 100%;
}

.column {
    float: left;
    width: 33.33%;
  }
  


/* Classi per il posizionamento */
.float-left {
    float: left;

}

.float-right {
    float: right;

}

/* Clear */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



/*  */

.center-x-y {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-90%, -50%);
    text-align: center;
}

/* Formattazione testo */

/* Testo giustificato */
.justify {
    text-align: justify;
    text-justify: inter-word;
}

.center {
    text-align: center;
    }

/* /Testo giustificato */

/* Titolo sottosezioni */
.sub-title {
    font-size: 3em;
    font-weight: bolder;
}

/* /Fine Formattazione testo */

/* Bottoni */
/* Reset bottoni e formattazione testo */
button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

/* Bottone trasparente */

.btn-transparent {
    color: black;
    font-weight: bolder;
    border: solid 1px;
    background-color: rgba(255, 99, 71, 0)
}

/* /Fine Bottone trasparente */

/* Bottone bianco senza bordi */
.btn-white {
    color: black;
    background-color: white
}

/* Classi colore */

.bg-blue {
    background-color: blue;

}

.bg-white {
    background-color: white;
}


/* /Fine Classi colore */

.row {
    display: inline-block;

}

/* Fine Generali */

/* Header */

header {
    width: 100%;
    height: 80px;
    margin-top: 10px;

}

/* Posizionamento logo */
.logo>img:nth-child(1) {
    margin-right: 50px;
}

header nav ul li {
    display: inline;
    list-style: none;
}


header nav ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

header .wrap {
    line-height: 80px;

}

/* Bottone accedi */
#btn-header {
    font-size: 14px;
    margin-left: 50px;
    padding: 5px 10px;

}

/* / Bottone accedi */
/* /Header */

/* Inizio Jumbrotron */


.jumbotron {

    /* *! 1. Serve a dare lo sfondo bianco al bottom dell'immagine nella colonna di  destra  */
    /* *! Sostituire con un'immagine monocromatica e usare background-resize o trovare una soluzione migliore  */
    /* *! 2. ho sostituito l'altezza fissa del jumbotron con una div vuota bianca (vedi .white-row) con dimensioni fisse e margine negativo */
    /*  *! 3. ho sostituito la row bianca con un pattern, conviene invertire? Creo file 
    /*  *!      di un pixel e ripeto lo sfondo invece che ridimenzionarlo? */

    position: relative;
    background-image: url("../img/light_blue_bg.png");
    background-size: 100% 92%;
    background-repeat: no-repeat;
}

.jumbotron img {
    position: relative;
    width: 100%;
    z-index: 2;
}

/* Titolo jumbotron */
.jumbotron h1 {
    font-size: 4em;
    padding-top: 2%;
}

/* /Fine Titolo jumbotron */

/* Span descrizione jumbtron */
span.justify {
    font-size: 20px;
}

/* Div che contiene spa-descrione */
section.jumbotron.clearfix div.container div.float-left.w-48.justify {
    margin-top: 1em;
}

/*/Fine Span descrizione jumbtron */

/* Pulsante prova gratuita */

button.bg-blue:nth-child(2) {
    margin-top: 1em;
    margin-left: 1em;
}
/* Freccia */
i.fas.fa-arrow-down.fa-2x{
    margin-top:10px;
}

/* Testo jumbotron */
#condizioni,
.fas {
    margin-top: 1em;
    margin-left: 1em;
}

/* Riga bianca che fa "uscire" l'img dal jumbotron */
/* .white-row {
    height: 40px;
    position: absolute;
    bottom: 2em;
    background-color: white;
    width: 100%;

} */

/* Fine Jumbotron */

/* Inizio sezione piani di fatturazione */
.piani-fatturazione {
    margin-top: 2em;
    margin-bottom: 2em;

}

.piani-fatturazione form div {
    display:inline;
}

.piani-fatturazione .col {
    border:solid 2px black;
}

.radio{
    margin-top:1em;
}

.col-header{
    padding: 30px;
}


/* /Fine sezione piani di fatturazione */

/* Sezione trovaAgente */
/* Img */
div.w-48:nth-child(1)>img:nth-child(1) {
    width: 100%;
}

p.justify {
    margin-top: 10px;
    font-size: 20px;

}

/* Titolo */
div.float-right:nth-child(2)>h2:nth-child(1) {
    font-size: 30px;
    font-weight: bolder;
}

.float-right.w-48 button {
    margin-top: 1em;
}

/* /Fine sezione trova agente */

/* Sezione portfolio */


/* Fine sezione portfolio */

/* Sezione call-to-action */

.call-to-action {
    background-color: rgba(107, 185, 240, 1);
    height: 400px;
    position: relative;
}

/* div H2 call-to-action */
html body section.call-to-action.clearfix div.container div.float-left.w-48 div.title {
    margin-top: 200px;
    color: maroon;
}

/*/div H2 call-to-action */

/* H2 */
html body section.call-to-action.clearfix div.container div.float-left.w-48 div.title h2 {
    /* *! se aumento il font si rompe e non è più centrato */
    font-size: 2em;
    /* position:absolute; */
    /* top: 200px; */
}

/* Pulsante call-to-action */
button.btn-white:nth-child(1) {
    position: absolute;
    top: 200px;
    right: 150px;
}

/* /fine sezione call-to-action */

/* Inizio sezione FAQ */
.faq{
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Distanzio la prima domanda dal titolo */
table{
    margin-bottom:2em;
}

th, td {
    border: 1px solid grey;
  }
  td{
      padding:30px;
      padding-right:350px;
      
  }

/* Debug */

.debug .container {
    background-color: blue;
}

.btn-little {
    padding: 0 20px;
}

/* /Fine Debug */