/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.w-90 {
    width: 90%;
    margin: 0 auto;
}

.w-48 {
    width: 48%;
}

.w-100{
    position: relative;
    width: 100%;
    margin: 0 auto;
}



/* Classi per il posizionamento */
.float-left {
    float: left;

}

.float-right {
    float: right;

}

/* ** Usare l'after su clearfix per fissare */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*  */

.center-x-y {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Formattazione testo */

/* Testo giustificato */
.justify {
    text-align: justify;
    text-justify: inter-word;
}

/* /Testo giustificato */


/* /Fine Formattazione testo */

/* Bottoni */
/* Reset bottoni e formattazzione testo */
button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

/* Bottone trasparente */

.btn-transparent {
    color: black;
    font-weight: bolder;
    border: solid 1px;
    background-color: rgba(255, 99, 71, 0)
}

/* /Fine Bottone trasparente */
/* Classi colore */

.bg-blue {
    background-color: blue;

}

.bg-white {
    background-color:white;
}


/* /Fine Classi colore */

.row {
    display: inline-block;

}

/* Fine Generali */

/* Header */

header {
    width: 100%;
    height: 80px;
    margin-top: 10px;

}

/* Posizionamento logo */
.logo>img:nth-child(1) {
    margin-right: 50px;
}

header nav ul li {
    display: inline;
    list-style: none;
}


header nav ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

header .wrap {
    line-height: 80px;

}

/* Bottone accedi */
#btn-header {
    font-size: 14px;
    margin-left: 50px;
    padding: 5px 10px;

}

/* / Bottone accedi */
/* /Header */

/* Inizio Jumbrotron */

.jumbotron {
    background-color: rgba(107, 185, 240, 1);
    position: relative;
    /* *! ho sostituito l'altezza fissa del jumbotron con una div vuota bianca (vedi .white-row) con dimensioni fisse e margine negativo */

    /* *! Serve a dare lo sfondo bianco al bottom dell'immagine nella colonna di  destra  */
    /* *! Sostituire con un'immagine monocromatica e usare background-resize o trovare una soluzione migliore  */
    /* height: 500px; */
}

.jumbotron img {
    position: relative;
    width: 100%;
    z-index: 2;
}

/* Titolo jumbotron */
.jumbotron h1 {
    font-size: 4em;
    padding-top: 2%;
}

/* /Fine Titolo jumbotron */

/* Span descrizione jumbtron */
.row-float-left span {
    font-weight: bolder;
    padding-top: 2%;
}

/*/Fine Span descrizione jumbtron */

/* Pulsante prova gratuita */

button.bg-blue:nth-child(2) {
    margin-top: 2em;
    margin-left: 1em;
}

span.justify {
    font-size: 20px;

}

/* Testo jumbotron */
#condizioni,
.fas {
    margin-top: 1em;
    margin-left: 1em;
}

/* Riga bianca che fa "uscire" l'img dal jumbotron */
.white-row{
    height: 40px;
    position:absolute;
    top: -2em;
    background-color:white;
    /* right: 0; */
    width:100%;
   
}

/* Fine Jumbotron */

/* Sezione trovaAgente */
.trova-agente {
    margin-top: 4em;
}

/* Img */
div.w-48:nth-child(1)>img:nth-child(1) {
    width: 100%;
}

p.justify {
    margin-top: 10px;
    font-size: 20px;

}

/* Titolo */
div.float-right:nth-child(2)>h2:nth-child(1) {
    font-size: 30px;
    font-weight: bolder;
}

.float-right.w-48 button {
    margin-top: 1em;
}

/* /Fine sezione trova agente */

/* call-to-action */

.call-to-action {
    background-color: rgba(107, 185, 240, 1);
    height: 400px;
    position: relative;
}

/* /fine call-to-action */
/* Debug */

.debug header {
    background-color: blue;
}

.btn-little {
    padding: 0 20px;
}

/* /Fine Debug */