/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.w-90 {
    width: 90%;
    margin: 0 auto;
}

.w-48 {
    width: 48%;
}

.w-100 {
    width: 100%;
}

.column {
    float: left;
    width: 33.33%;
}



/* Classi per il posizionamento */
.float-left {
    float: left;

}

.float-right {
    float: right;

}

/* Clear */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*  */

.center-x-y {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Formattazione testo */

/* Testo giustificato */
.justify {
    text-align: justify;
    text-justify: inter-word;
}

/* /Testo giustificato */

/* Titolo sottosezioni */
.sub-title {
    font-size: 3em;
    font-weight: bolder;
}

/* /Fine Formattazione testo */

/* Bottoni */
/* Reset bottoni e formattazione testo */
button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

/* Bottone trasparente */

.btn-transparent {
    color: black;
    font-weight: bolder;
    border: solid 1px;
    background-color: rgba(255, 99, 71, 0)
}

/* /Fine Bottone trasparente */

/* Bottone bianco senza bordi */
.btn-white {
    color: black;
    background-color: white
}

/* Classi colore */

.bg-blue {
    background-color: blue;

}

.bg-white {
    background-color: white;
}


/* /Fine Classi colore */

.row {
    display: inline-block;

}

/* Fine Generali */

/* Header */

header {
    width: 100%;
    height: 80px;
    margin-top: 10px;

}

/* Posizionamento logo */
.logo>img:nth-child(1) {
    margin-right: 50px;
}

header nav ul li {
    display: inline;
    list-style: none;
}


header nav ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

header .wrap {
    line-height: 80px;

}

/* Bottone accedi */
#btn-header {
    font-size: 14px;
    margin-left: 50px;
    padding: 5px 10px;

}

/* / Bottone accedi */
/* /Header */

/* Inizio Jumbrotron */


#jumbotron {
    position: relative;
    background-image: url("../img/light_blue_bg.png");
    background-size: 100% 92%;
    background-repeat: no-repeat;
}

#jumbotron img {
    position: relative;
    width: 100%;
    z-index: 2;
}

/* Titolo jumbotron */
#jumbotron h1 {
    font-size: 4em;
    padding-top: 2%;
}

/* /Fine Titolo jumbotron */

/* Span descrizione jumbtron */
span.justify {
    font-size: 20px;
}

/* Div che contiene spa-descrione */
section#jumbotron.clearfix div.container div.float-left.w-48.justify {
    margin-top: 1em;
}

/*/Fine Span descrizione jumbtron */

/* Pulsante prova gratuita */

button.bg-blue:nth-child(2) {
    margin-top: 1em;
    margin-left: 1em;
}

/* Freccia */
i.fas.fa-arrow-down.fa-2x {
    margin-top: 10px;
}

/* Testo jumbotron */
#condizioni,
#condizioni.fas {
    margin-top: 1em;
    margin-left: 1em;
}

/* Fine Jumbotron */

/* Inizio sezione piani di fatturazione */
#piani-fatturazione {
    margin-top: 2em;
    margin-bottom: 2em;

}

#piani-fatturazione form div {
    display: inline;
}

#piani-fatturazione .col {
    border: solid 2px black;
}

.radio {
    position: relative;
    top: 20px;

}

/* Inizio tabella piani di fatturazione */

#piani-fatturazione .column {
    margin-left: 20px;
    width: calc((100% / 3) - 20px);

}

.column-text {
    min-height: 900px;
}

.tab {
    margin-top: 30px;
}


.column-header {
    text-align: center;
    padding: 50px;
    border: solid 2px grey;
    border-bottom: 0px;
}

.column-text {
    border-top: 0;
    padding: 50px;
    font-size: 14px;
    border: solid 2px grey;
    /* padding: 10px; */

}

/* Formattazione contenuto colonne  */
.name-plane {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
}

.price {
    font-size: 17px;
    font-weight: bolder;
    padding: 10px;
}

.details {
    font-size: 10px;
    color: gray;
    padding: 10px;
    /* margin-bottom: 30px;     */

}

.storage,
.trial-30,
.num-users,
.link-trial,
.col-sub-title {
    padding: 10px;
}

.tools {
    padding: 10px;
    font-weight: 100;
}

/* Link acquista ora  */
.trial-30 a {
    text-decoration: none;
    color: blue;
}

.column hr {
    border-top: 1px grey;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
}

.col-sub-title {
    font-size: 16px;
    font-weight: bolder;
}

.list ul li {
    padding: 10px;
}

.fa-check{
    color:blue;
}



/* /Formattazione contenuto colonne  */
/* Piano Enterprise */
#enterprise{
    width:100%;
    border: solid 2px grey;
    
}

#enterprise .row-header{
    text-align: center;
    border-bottom: solid 2px grey;
    
}


div.col-sub-title:nth-child(1){
    font-size: 40px;
    font-weight: bolder;
}

.descr{
    padding:10px;
    font-weight: bolder;
}
/* /Fine tabella piani di fatturazione */


/* /Fine sezione piani di fatturazione */

/* Sezione trovaAgente */
/* Img */
div.w-48:nth-child(1)>img:nth-child(1) {
    width: 100%;
}

p.justify {
    margin-top: 10px;
    font-size: 20px;

}

/* Titolo */
div.float-right:nth-child(2)>h2:nth-child(1) {
    font-size: 30px;
    font-weight: bolder;
}

.float-right.w-48 button {
    margin-top: 1em;
}

/* /Fine sezione trova agente */

/* Sezione call-to-action */

.call-to-action {
    background-color: rgba(107, 185, 240, 1);
    height: 400px;
    position: relative;
}

/* div H2 call-to-action */
html body section.call-to-action.clearfix div.container div.float-left.w-48 div.title {
    margin-top: 200px;
    color: maroon;
}

/*/div H2 call-to-action */

/* H2 */
html body section.call-to-action.clearfix div.container div.float-left.w-48 div.title h2 {
    /* *! se aumento il font si rompe e non è più centrato */
    font-size: 3em;
    /* position:absolute; */
    top: 200px;
}

/* Pulsante call-to-action */
button.btn-white:nth-child(1) {
    position: absolute;
    top: 200px;
    right: 150px;
}

/* /fine sezione call-to-action */
/* Debug */

.debug .container {
    background-color: blue;
}

.btn-little {
    padding: 0 20px;
}


/* /Fine Debug */