/* Reset */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Generali */

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.w-90 {
    width: 90%;
    margin:0 auto;
}

.float-left {
    float:left;
}

.float-right{
    float: right; 
}

/* Fine Generali */

/* Header */

header {
    width: 100%;
    height: 80px;
    margin-top: 10px;

}

header nav ul li {
    display:inline;
    list-style: none;
}


header nav ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

header .wrap {
    margin-top: 25px;
}
/* /Header */


/* Debug */

.debug header {
    background-color: blue;
}