* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generali */
html {
    scroll-behavior: smooth;

}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.container-flex {
    display: flex;
}

/* Formattazione testo */

.section-title {
    padding: 20px 0;
}

.section-text {
    font-size: 14px;

}

/* / Formattazione testo */

/* Reset bottoni, formattazione contenuto generale e impostazioni dello sfondo trasparente */

button {
    color: white;
    background-color: rgba(255, 99, 71, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;

}

/* Classi colore */

.bg-blue {
    background-color: blue;
}

.bg-white {
    background-color: white;
}

/* /Generali */

/* Header */

nav {
    display: flex;
    flex-direction: row;
}


/* Formattazione testo e lista */
header a {
    text-decoration: none;
    color: black;
}

header nav ol.left-menu li,
header nav ol.right-menu li {
    list-style-type: none;
    padding: 20px;

}

header nav ol.left-menu {
    display: flex;
    flex-direction: row;
    margin-right: auto;

}

header nav ol.right-menu {
    display: flex;

}

header li:hover {
    border-bottom: 1px solid black;
}

header .no-border-on-hover:hover {
    border: 0;
}

/* /Header */

/* Jumbotron */

#jumbotron .container {
    width: 90% !important;
}

#jumbotron .container-bg {
    min-height: 30vh;
    background-color: #ADD8E6;

}

#jumbotron .col-left,
#jumbotron .col-right {
    flex-direction: column;
}

#jumbotron h1.section-title {
    flex-direction: row;
    font-size: 40px;
    font-weight: bolder;
}

#jumbotron .col-right img {
    width: 60%;
    padding-left: 40px;
    margin-bottom: -225px;
}

#jumbotron button {
    margin: 1vh 0;
}

#jumbotron .col-left p {
    font-size: 10px;
}

/* Freccia */

#jumbotron .fas.fa-arrow-down {
    color: black;
    margin: 1vh 0;

}

/* /Jumbotron */

/* Piani di fatturazione */

#piani-di-fatturazione form div {
    display: inline;
}

#piani-di-fatturazione .container-flex{
    margin: 5vh auto;
}

/* Layout tre colonne */

#piani-di-fatturazione .col {
    flex: 1;
    border: solid 1px lightslategrey;
    min-width: 50vh;
    
}

/* Imposto i margini left & right alla colonna centrale */
div.col:nth-child(2){
    margin: 0 30px;
}

#piani-di-fatturazione .col-header {
        text-align: center;
        padding: 30px;
        border-bottom: solid 1px lightslategrey;

}

#piani-di-fatturazione .col-text {
    border-top: 0;
    padding: 50px;
    font-size: 14px;

}

/* Formattazione contenuto colonne  */
.name-plane {
    font-size: 20px;
    font-weight: bolder;
}

.price {
    font-size: 17px;
    font-weight: bolder;
}

.details {
    font-size: 10px;
    color: gray;
    

}

.storage,
.trial-30,
.num-users,
.link-trial,
.col-sub-title,
.tools,
.name-plane,
.price,
.details {
    padding: 10px;
}

.tools {
    font-weight: 100;
}

/* Link acquista ora  */
.trial-30 a {
    text-decoration: none;
    color: blue;
}

.col hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
}

.col-sub-title {
    font-size: 16px;
    font-weight: bolder;
}

.list ul li {
    padding: 10px;
}

.fa-check{
    color:blue;
}

/* /Formattazione contenuto colonne  */

/* Piano Enterprise */
#enterprise{
    border: solid 1px grey;
    margin-top:50px;
    
}
#enterprise .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
#enterprise .row-header{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}

#enterprise .row h3 {
    font-size: 30px;
}

#enterprise button {
    margin: 1vh 0;
}


div.col-sub-title:nth-child(1){
    font-size: 40px;
    font-weight: bolder;
}

/* Piano Enterprise */
/* /Piani di fatturazione */