* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Generali */



/* /Generali */

/* Header */

nav {
    display: flex;
    flex-direction: row;
}   


/* Formattazione testo e lista */
header a {
    text-decoration: none;
    color: black;
}

header nav ol.left-menu li ,
header nav ol.right-menu li {
    list-style-type: none;
    padding: 20px;

}

 header nav ol.left-menu {
     display: flex;
     flex-direction: row;
     margin-right: auto;

}

header nav ol.right-menu {
    display: flex;
   
}

header li:hover{
    border-bottom: 1px solid black;
}

header .no-border-on-hover:hover{
    border: 0;
}
/* /Header */